<div class="flex flex-col">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" [formControl]="name" required matInput>
    <mat-error *ngIf="name.invalid">Das Rezept muss ein Namen haben!</mat-error>
  </mat-form-field>
  <div class="flex flex-row gap-2">
    <mat-form-field>
      <mat-label>Menge</mat-label>
      <input type="number" [formControl]="amount" required matInput>
      <mat-error *ngIf="amount.invalid">Das Rezept muss eine Mengenangabe haben!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Einheit</mat-label>
      <input type="text" [formControl]="unit" required matInput>
      <mat-error *ngIf="unit.invalid">Das Rezept muss eine Mengenangabe haben!</mat-error>
    </mat-form-field>
  </div>

  <h3 class="mat-subtitle-1">Zutaten hinzufügen:</h3>
  <app-ingredient-form (addIngredient)="addIngredient($event)"></app-ingredient-form>

  <app-ingredient-table [ingredients]="ingredients" (removeIngredient)="removeIngredient($event)"></app-ingredient-table>
</div>
