<form [formGroup]="forgotForm" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input type="email" matInput formControlName="email" required>
    <mat-error *ngIf="forgotForm.controls.email.invalid">Bitte gib eine gültige E-Mail an</mat-error>
  </mat-form-field>
  <button mat-raised-button class="w-full" color="primary" type="submit" [disabled]="forgotForm.invalid">
    Passwort zurücksetzen
  </button>
  <mat-error *ngIf="submitError">{{submitError}}</mat-error>
</form>
