<div class="flex flex-col">
  <div class="mat-headline-6">{{recipe.name}}</div>
  <div>
    <app-amount-portion-form [amount]="recipe.amount" [perPortion]="recipe.gramPerPortion"
                             (amountChanged)="amountChanged($event)"></app-amount-portion-form>
  </div>
  <div class="pt-3">
    <app-ingredient-list [ingredients]="recipe.ingredients" [subRecipes]="recipe.subRecipe"
                         [amountFactor]="factor"></app-ingredient-list>
  </div>
  <div>
    <app-method-detail [methodHtml]="recipe.method"
                       (methodChanged)="methodChanged.emit({uid: recipe.uid!, method: $event})"></app-method-detail>
  </div>
  <div class="pt-2 mat-body-1">
    <span class="font-semibold">Weitere Infos:</span>
    <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-4 md:grid-rows-2">
      <div class="flex flex-col">
        <span class="mat-body-1 underline">Anrichten:</span>
        <p>{{recipe.serve || "- Keine Angabe"}}</p>
      </div>
      <div class="flex flex-col">
        <span class="mat-body-1 underline">Bemerkungen:</span>
        <p>{{recipe.comment || "- Keine Infos"}}</p>
      </div>
      <div class="flex flex-col">
        <span class="mat-body-1 underline">Geschirr:</span>
        <p>{{recipe.plate || "- Keine Angabe"}}</p>
      </div>
      <div class="flex flex-col">
        <span class="mat-body-1 underline">Zeitaufwand:</span>
        <p>{{recipe.time || "- Keine Angabe"}}</p>
      </div>
    </div>
  </div>
</div>
