<div class="flex flex-col">
  <div class="flex flex-row justify-between">
    <span class="block mat-headline-6">{{recipe.name}}</span>
    <button mat-flat-button color="accent" (click)="editRecipeClick.emit(recipe)">
      Bearbeiten
    </button>
  </div>
  <div>
    <app-amount-portion-form [amount]="recipe.amount" [perPortion]="recipe.gramPerPortion"
                             (amountChanged)="amountChanged($event)"></app-amount-portion-form>
  </div>
  <div class="pt-3">
    <app-ingredient-list [ingredients]="recipe.ingredients" [subRecipes]="recipe.subRecipe"
                         [amountFactor]="factor"></app-ingredient-list>
  </div>
  <div>
    <app-method-detail [methodHtml]="recipe.method"
                       (methodChanged)="methodChanged.emit({uid: recipe.uid!, method: $event})"></app-method-detail>
  </div>
  <div class="pt-3">
    <app-extra-info [commentInfo]="recipe.comment" [plateInfo]="recipe.plate" [serveInfo]="recipe.serve"
                    [timeInfo]="recipe.time"></app-extra-info>
  </div>
</div>
