<div id="print-section" class="flex flex-col">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-col w-1/3">
      <span class="block mat-headline-6 !leading-none !mb-0">{{
        recipe.name
      }}</span>
      <span class="block mat-subtitle-2 text-gray-400 !font-normal"
        >Tags: {{ recipe.tags.join(', ') }}</span
      >
    </div>
    <div class="flex flex-row w-1/3 justify-center">
      <app-allergen-icon
        *ngFor="let allergen of recipe.allergens"
        [allergen]="allergen"></app-allergen-icon>
    </div>
    <div class="w-1/3 flex items-center justify-end">
      <button
        mat-flat-button
        color="accent"
        [disabled]="!isLoggedIn"
        (click)="onEdit(recipe)">
        Bearbeiten
      </button>
      <button
        mat-icon-button
        ngxPrint
        [useExistingCss]="true"
        [printTitle]="'Rezept für ' + recipe.name"
        printSectionId="print-section">
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <app-amount-portion-form
      [amount]="recipe.amount"
      [perPortion]="recipe.gramPerPortion"
      (amountChanged)="amountChanged($event)"></app-amount-portion-form>
  </div>
  <div class="pt-3">
    <app-ingredient-list
      [ingredients]="recipe.ingredients"
      [subRecipes]="recipe.subRecipe"
      [amountFactor]="factor"></app-ingredient-list>
  </div>
  <div>
    <app-method-detail
      [methodHtml]="recipe.method"
      [disableEdit]="!isLoggedIn"
      (methodChanged)="
        onMethodChanged({ uid: recipe.uid!, method: $event })
      "></app-method-detail>
  </div>
  <div class="pt-3">
    <app-extra-info
      [commentInfo]="recipe.comment"
      [plateInfo]="recipe.plate"
      [serveInfo]="recipe.serve"
      [timeInfo]="recipe.time"></app-extra-info>
  </div>
</div>
