<p mat-dialog-title class="mat-body-1">
  So so {{name}}, du hast also dein Passwort vergessen...
</p>
<div mat-dialog-content>
  <iframe src="https://giphy.com/embed/135E47VKw6TM6A" width="480" height="370" frameBorder="0" class="giphy-embed"
          allowFullScreen>
  </iframe>
  <p class="mat-body-1">
    Kein Problem, du hast ein E-Mail bekommen mit einer Anleitung wie du dein Passwort zurücksetzen kannst.
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close>Ok</button>
</div>
