<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="app-name mat-headline-6 !mb-0" routerLink="">Rezepte im Seniorama</a>
    <div class="flex-1"></div>
    <a *ngIf="!user" class="mat-subtitle-2 !mb-0" routerLink="login">Login</a>
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu" *ngIf="user"
            class="mat-subtitle-2 !mb-0">{{user.email}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutClick.emit()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="!mobileQuery.matches"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list [disabled]="!user">
        <a mat-list-item routerLink="create" >Erstellen</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-card class="p-3 min-h-[calc(100vh-60px)] w-full">
        <mat-card-title class="text-center mat-headline-5">
          {{title$ | async}}
        </mat-card-title>
        <mat-card-content class="w-full h-full">
          <div class="mx-auto max-w-3xl h-full">
            <ng-content></ng-content>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
