<div class="flex flex-col">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" [ngModel]="recipe.name" (ngModelChange)="update('name', $event)" required matInput>
  </mat-form-field>
  <div class="flex flex-row gap-2">
    <mat-form-field>
      <mat-label>Portionen</mat-label>
      <input type="number" [ngModel]="recipe.amount" (ngModelChange)="update('amount', $event)" required matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gramm pro Portion</mat-label>
      <input type="number" [ngModel]="recipe.gramPerPortion" (ngModelChange)="update('gramPerPortion', $event)" required
             matInput>
      <span matSuffix class="p-2">Gramm</span>
    </mat-form-field>
  </div>
  <div class="flex flex-col md:flex-row md:gap-2">
    <div>
      <app-auto-chips [allChips]="allTags" (chipAdded)="addTag($event)" (chipRemoved)="removeTage($event)"
                      [selectedChips]="recipe.tags" placeholder="Tags *"></app-auto-chips>
    </div>
    <div class="flex-grow">
      <app-allergens-select [allergens]="recipe.allergens" (allergensChange)="update('allergens', $event)"></app-allergens-select>
    </div>
  </div>

  <h3 class="mat-subtitle-1">Zutaten hinzufügen: *</h3>
  <app-ingredient-form (addIngredient)="addIngredient($event)"></app-ingredient-form>

  <app-ingredient-table class="pb-3l" [ingredients]="recipe.ingredients"
                        (removeIngredient)="removeIngredient($event)"></app-ingredient-table>

  <mat-divider class="p-3"></mat-divider>

  <div class="flex flex-row justify-between">
    <h3 class="mat-subtitle-1">Teil-Rezepte: </h3>
    <button mat-stroked-button color="primary" (click)="openSubRecipeDialog()">Hinzufügen</button>
  </div>
  <app-sub-recipe-accordion [subRecipes]="recipe.subRecipe"
                            (removeSubRecipe)="removeSubRecipe($event)"></app-sub-recipe-accordion>
</div>
