<mat-form-field [subscriptSizing]="subscriptSizing" [appearance]="appearance">
  <mat-label>Allergene</mat-label>
  <mat-select [ngModel]="allergens" (ngModelChange)="updateValue($event)" multiple>
    <mat-option *ngFor="let allergen of allAllergens" [value]="allergen">
      <div class="flex flex-row items-center gap-2">
        <app-allergen-icon [allergen]="allergen"></app-allergen-icon>
        <span class="block">{{allergen}}</span>
      </div>
    </mat-option>
  </mat-select>
  <div matSuffix>
    <button mat-icon-button (click)="allergensChange.emit([])">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</mat-form-field>
