<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{subRecipe.name}}
    </mat-panel-title>
    <mat-panel-description>
      <div class="w-full flex justify-end">
      <button mat-icon-button color="warn" (click)="removeSubRecipe($event)">
        <mat-icon>delete</mat-icon>
      </button>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-ingredient-table [ingredients]="subRecipe.ingredients"
                        (removeIngredient)="removeIngredient($event)"></app-ingredient-table>
</mat-expansion-panel>
