<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Teil-Rezept hinzufügen
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" [formControl]="name" required matInput>
    <mat-error *ngIf="name.invalid">Das Rezept muss ein Namen haben!</mat-error>
  </mat-form-field>

  <h3 class="mat-subtitle-1">Zutaten hinzufügen:</h3>
  <app-ingredient-form (addIngredient)="addIngredient($event)"></app-ingredient-form>
  <app-ingredient-table [ingredients]="ingredients" (removeIngredient)="removeIngredient($event)"></app-ingredient-table>
  <button mat-button color="primary" (click)="add()">Speichern</button>
</mat-expansion-panel>
