<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input type="email" matInput formControlName="email" required>
    <mat-error *ngIf="loginForm.controls.email.invalid">Bitte gib eine gültige E-Mail an</mat-error>
  </mat-form-field>
  <mat-form-field class="mb-2">
    <mat-label>Passwort</mat-label>
    <input type="password" matInput formControlName="password" required>
    <mat-error *ngIf="loginForm.controls.password.invalid">Bitte gib dein Passwort ein</mat-error>
    <mat-hint align="end">
      <a class="text-blue-300" routerLink="/forgot">Ich habe mein Password vergessen</a>
    </mat-hint>
  </mat-form-field>
  <button mat-raised-button class="w-full" color="primary" type="submit" [disabled]="loginForm.invalid">
    {{(isLoading | async) ? '...' : 'Login'}}
  </button>
  <mat-error *ngIf="loginError$ | async">{{loginError$ | async}}</mat-error>
</form>
