@use '@angular/material' as mat;
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-custompink: (
  50 : #fef5fe,
  100 : #fde7fd,
  200 : #fbd7fc,
  300 : #f9c6fa,
  400 : #f8baf9,
  500 : #f7aef8,
  600 : #f6a7f7,
  700 : #f59df6,
  800 : #f394f5,
  900 : #f184f3,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fffeff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-custompurple: (
  50 : #f6f1fd,
  100 : #e8dbf9,
  200 : #d9c4f5,
  300 : #caacf1,
  400 : #be9aee,
  500 : #b388eb,
  600 : #ac80e9,
  700 : #a375e5,
  800 : #9a6be2,
  900 : #8b58dd,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e8dbff,
  A700 : #d8c2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-customblue: (
  50 : #eefbfe,
  100 : #d5f5fd,
  200 : #b9eefb,
  300 : #9ce7f9,
  400 : #87e2f8,
  500 : #72ddf7,
  600 : #6ad9f6,
  700 : #5fd4f5,
  800 : #55cff3,
  900 : #42c7f1,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #dcf6ff,
  A700 : #c3f0ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);





$my-primary: mat.define-palette($md-custompink);
$my-accent: mat.define-palette($md-custompurple);
$my-warn: mat.define-palette($md-customblue);
$my-typography: mat.define-typography-config();

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),

  density: -1,
));

@include mat.typography-hierarchy($my-typography);

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

