@use '@angular/material' as mat;
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-customprimary: (
  50 : #eefaff,
  100 : #d4f3ff,
  200 : #b8ebff,
  300 : #9be2ff,
  400 : #85dcff,
  500 : #70d6ff,
  600 : #68d1ff,
  700 : #5dccff,
  800 : #53c6ff,
  900 : #41bcff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e9f7ff,
  A700 : #cfedff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-customaccent: (
  50 : #ffeef4,
  100 : #ffd4e4,
  200 : #ffb8d3,
  300 : #ff9bc1,
  400 : #ff85b3,
  500 : #ff70a6,
  600 : #ff689e,
  700 : #ff5d95,
  800 : #ff538b,
  900 : #ff417b,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe9ef,
  A700 : #ffcfdd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-customwarn: (
  50 : #fff3ee,
  100 : #ffe0d4,
  200 : #ffcbb8,
  300 : #ffb69b,
  400 : #ffa785,
  500 : #ff9770,
  600 : #ff8f68,
  700 : #ff845d,
  800 : #ff7a53,
  900 : #ff6941,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffede9,
  A700 : #ffd9cf,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-primary: mat.define-palette($md-customprimary);
$my-accent: mat.define-palette($md-customaccent);
$my-warn: mat.define-palette($md-customwarn);
$my-typography: mat.define-typography-config();

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),

  density: -1,
));

@include mat.typography-hierarchy($my-typography);

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

