@use '@angular/material' as mat;
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-customprimary: (
  50 : #eefaff,
  100 : #d4f3ff,
  200 : #b8ebff,
  300 : #9be2ff,
  400 : #85dcff,
  500 : #70d6ff,
  600 : #68d1ff,
  700 : #5dccff,
  800 : #53c6ff,
  900 : #41bcff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e9f7ff,
  A700 : #cfedff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-customaccent: (
  50 : #f6f4fa,
  100 : #eae3f2,
  200 : #dcd1e9,
  300 : #cdbfe0,
  400 : #c3b1da,
  500 : #b8a3d3,
  600 : #b19bce,
  700 : #a891c8,
  800 : #a088c2,
  900 : #9177b7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e4d3ff,
  A700 : #d5b9ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-customwarn: (
  50 : #f9e0e0,
  100 : #f0b3b3,
  200 : #e68080,
  300 : #db4d4d,
  400 : #d42626,
  500 : #cc0000,
  600 : #c70000,
  700 : #c00000,
  800 : #b90000,
  900 : #ad0000,
  A100 : #ffd7d7,
  A200 : #ffa4a4,
  A400 : #ff7171,
  A700 : #ff5858,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$my-primary: mat.define-palette($md-customprimary);
$my-accent: mat.define-palette($md-customaccent);
$my-warn: mat.define-palette($md-customwarn);
$my-typography: mat.define-typography-config();

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),

  density: -1,
));

@include mat.typography-hierarchy($my-typography);

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

