<div class="flex flex-col justify-between">
  <mat-form-field>
    <mat-label>Anrichten</mat-label>
    <textarea matInput [formControl]="serveInput"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Bemerkung</mat-label>
    <textarea matInput [formControl]="commentInput"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Geschirr</mat-label>
    <textarea matInput [formControl]="plateInput"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Zeitaufwand</mat-label>
    <textarea matInput [formControl]="timeInput"></textarea>
  </mat-form-field>
</div>
